/* 변수 (컬러, 폰트사이즈) */
:root {

  /* 메인 컬러 - 배경, 폰트 공통 적용 */
  --primary-color: #2563eb;
  --secondary-color: #1e293b;
  --base-Color: #f8fafc;

 /* 경고 */
  --red-a8: #a8071a;
  --red-cf: #cf1322;
  --red-ff: #ff4d4f;

  /* 버튼 & input 배경 */
  --gray-f1: #f1f5f9;
  --gray-f8: #f8fafc;

  /* 폰트 & 기타 */
  --gray-47: #475569;
  --gray-64: #64748b;
  --gray-e2: #e2e8f0;
  --gray-cb: #cbd5e1;
  --green-10: #10b981;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 폰트 초기화 */
/* 10px -> 1rem 으로 계산 */
html{
  font-size: 62.5%; 
}

body {
  font-family: Arial, sans-serif; /* 폰트 결정 후 수정 */
  font-weight: 400;
  font-size: 1.5rem;
  /* line-height: 1em; */
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

ul {
  list-style: none;
}

/* 링크 초기화 */
a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
/* border-radius, width, padding 등 설정 */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 버튼 공통 스타일 1 */
.btnSubmit{
    display: inline-block;
    padding-inline: 2rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border-radius: 1rem;
    margin-inline: 1rem;
    text-wrap: nowrap;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--secondary-color);
    transition: all 0.3s;
}

.btnSubmit:hover{
    background: #2563eb;
    box-shadow: 0 2rem 4rem rgba(37, 99, 235, 0.3);
}

/* 컨텐츠 너비, 마진 */
/* PC 버전 너비 */
.container {
  /* width: 90%; */
  max-width: 110rem;
  margin: 0 auto;
  padding-inline: 2rem;
  
}

/* 컨텐츠 box 스타일 */
.contentBox{
    background: #ffffff;
    padding: 3.2rem;
    border-radius: 2.4rem;
    border: 1px solid rgba(226, 232, 240, 0.6);
}

/* 제목 */
.heading{
    font-size: 2.4rem;
    text-align: center;
    color: var(--secondary-color);
    margin-block: 2rem;
    display: none;
}

/* 공통 input */
input:focus
, select:focus {
    outline: none;
    border-color: var(--primary-color);
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(37, 99, 235, 0.15);
}
input, select{
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
    padding: 0.7rem 1rem;
    background: var(--gray-f8);
    vertical-align: middle;
    border-radius: 1.5rem;
    border: 2px solid #e2e8f0;
}
input:disabled,
select:disabled {
    background: var(--gray-e2);        
    color: #a0aec0;              
    border-color: var(--gray-cb);
    cursor: not-allowed;
    opacity: 0.8;
}

input::placeholder{
    font-size: 1.3rem;
}

/* 태블릿 세로 */
@media (max-width: 1024px){ 
    .container {
        max-width: 100%;
    }
    .heading{
      display: block;
    }
}

/* 모바일 세로, 가로 */
@media (max-width: 768px){
    html{
        font-size: 56.25%; /* 9px = 1rem */
    }
    .container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 480px){

}