/* 레이아웃 */
.productListBox{
    padding: 2rem 0;
    padding: 3rem;
    border-radius: 1.5rem;
    width: 100%; 
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.actionArea{
    margin-bottom: 1.5rem;
    text-align: right;
}

.listTopWrap{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}
.listTopWrap > div{
    flex: 1;
    /* width: 50%; */
}

.contentWrap{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 4rem;
    margin-top: 5rem;
}


/* 초기화 버튼 */
.btnReset{
    display: block;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 100px;
    /* margin-bottom: 1.5rem; */
    /* position: absolute;
    top: 1.5rem;
    right: 3rem; */
    transition: 0.2s;
    background: var(--primary-color) url(/src/resources/images/productList/iconRefresh.svg) no-repeat center / 70% auto;
}
.btnReset:hover{
    box-shadow: 0 1rem 2rem rgba(37, 100, 235, 0.3);
    scale: 1.05;
}


/* 검색 */
.searchArea{
    /* padding-block: 2rem; */
    /* margin-bottom: 2rem; */
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    /* flex-basis: 40%; */
    justify-content: flex-end;
}
.searchLabel{
    font-size: 1.6rem;
    font-weight: bold;
    text-wrap: nowrap;
    color: var(--secondary-color);
}
.searchArea .searchInput{
    padding-inline: 1.5rem;
    width: 80%;
    max-width: 40rem;
    height: 5rem;
    min-width: 10rem;
    opacity: 0.8;
}

.searchArea button{
    background-color: var(--gray-f1);
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    color: var(--gray-47);
    font-weight: 600;
    text-wrap: nowrap;
}
.searchArea button:hover{
    background-color: var(--gray-e2);
}

/* 필터링 카드 */
.filterCard{
    position: sticky;
    top: 0;
    /* width: 40rem; */
}
.filterHeading, .filterContents, .productItem{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
    border: 1px solid #e2e8f0;
}
.filterHeading{
    padding: 1.5rem 3rem;
    border-radius: 2rem 2rem 0 0;
    background-color: var(--gray-f8);
    border-bottom: 3px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterHeading h3{
    font-size: 500;
    color: var(--secondary-color);
}
.filterContents{
    padding: 3rem;
    text-align: center;
    background: #fff;
    border-radius: 0 0 2rem 2rem;
    /* position: relative; */
}
.filterContents > select{
    width: 100%;
    height: 4.5rem;
    min-width: 6rem;
    margin-bottom: 2rem;
}
.filterContents > select:last-child{
    margin-bottom: 0;
}

/* 상품 리스트 카드 */
.totalCount{
    /* text-align: right; */
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray-47);
}
.productItem{
    /* border: 1px solid #000; */
    border-radius: 20px;
    transition: 0.3s;
}
.productItem:not(:last-child){
    margin-bottom: 3rem;
}
.productItem:hover{
    transform: translateY(-0.5rem);
    border-color: var(--gray-cb);
}
.warning.productItem:hover{
    border-color: var(--red-cf);
}
.itemCard{
    padding: 3rem 1.5rem;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 5% 55% 40%;
    align-items: center;
}
.itemNo{
    /* flex-basis: 5%; */
    text-align: center;
}
.itemInfoL{
    /* flex-basis: 55%; */
}
.itemInfoR{
    /* flex-basis: 40%; */
}
.itemInfoL{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
.itemInfoL::after{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    right: 0;
    top: 0;
}
.brand{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
}
.proCd{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.itemInfoR{
    /* justify-items: center; */
    padding-left: 4rem;
}
.itemInfoR > div{
    margin-bottom: 1rem;
}

.infoLabel{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--gray-64);
    margin-right: 2rem;
}
.itemInfoL .infoLabel{
    display: block;
}
.stkQty{
    font-size: 2rem;
    font-weight: 500;
}
.stkStatus{
    font-size: 1.8rem;
    font-weight: 600;
    /* color: var(--primary-color); */
    color: var(--green-10);
}
.warning{
    background: linear-gradient(135deg, #ffffff 0%, #fff5f5 100%);
    border: 2px solid var(--red-ff);
    box-shadow: 0 0.5rem 2rem rgba(255, 77, 79, 0.15);
}
.warning .stkStatus{
    color: var(--red-cf);
}
.waiting .stkStatus{
    color: var(--secondary-color);
}
.date{
    color: var(--gray-64);
}


/* 태블릿 세로 */
@media (max-width: 1024px){ 
    .contentWrap{
        margin-block: 3rem;
        grid-template-columns: 1fr;
        row-gap: 4rem;
    }
    .filterContents{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 2.5rem;
    }
    .filterContents > select{
        width: calc(100% / 4);
        margin-bottom: 0;
    }
    .btnReset{
        position: static;
    }
}


/* 모바일 세로, 가로 */
@media (max-width: 768px){
    .productListBox{
        padding: 3rem 1.5rem;
    }
    .filterContents{
        flex-direction: column;
    }
    .filterContents > select{
        width: 100%;
    }
    .itemCard{
        padding: 3rem 5rem;
        display: grid;
        /* grid-template-columns: 15% 85%;
        grid-template-rows: 1fr 1fr; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 2fr;
        /* align-items: center; */
    }
    .itemNo{
        /* grid-row: span 2; */
        font-size: 1.8rem;
    }
    .prodCd{
        font-size: 2rem;
        text-wrap: nowrap;
        margin-bottom: 2rem;
    }
    .proNm{
        font-size: 1.8rem;
        text-wrap: nowrap;
    }
    .infoLabel{
        display: block;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .itemInfoL .infoLabel{
        display: inline-block;
    }
    .itemInfoR .infoLabel{
        margin-right: 0;
    }
    .itemInfoL::after{
        width: 100%;
        height: 1px;
        right: 0;
        top: 100%;
        /* transform: translateX(-50%); */
    }
    .itemInfoL, .itemInfoR{
        padding-inline: 3rem;
    }
    .itemInfoL{
        gap: 3rem;
        padding-bottom: 2rem;
        /* justify-content: space-around; */
        flex-direction: column;
    }
    .itemInfoR{
        padding-top: 2rem;
        /* justify-content: space-around; */
        /* padding-inline: 5rem; */
    }
    .proCdNmWrap{
        /* flex: 1; */
    }
    .stkWrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .stkQty, .stkStatus{
        text-align: center;
    }
    .itemInfoR{
        /* display: flex;
        align-items: center;
        justify-content: space-around
        ; */
    }
}

@media (max-width: 480px){
    .itemCard{
        /* grid-template-columns: 10% 90%; */
    }
    .itemInfoL .infoLabel{
        display: block;
    }
    .itemInfoL, .itemInfoR{
        padding-inline: 1.5rem;
    }
}