/*공통*/
.closeBtn{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: url(/src/resources/images/productRegister/iconClose.svg) no-repeat center / cover;
}
.checkBtn{
    background-color: var(--gray-f1);
    border: none;
    padding: 0.8rem 1.6rem;
    height: 100%;
    border-radius: 1rem;
    color: var(--gray-47);
    font-weight: 600;
    margin-left: 1rem;
    text-wrap: nowrap;
    transition: all 0.3s;
}
.checkBtn:hover{
    background-color: var(--gray-e2);
}

.registerBtn:disabled {
    background-color: #e0e0e0; /* 회색으로 변경 */
    color: #999;              /* 글자색 흐리게 */
    cursor: not-allowed;      /* 마우스 커서 금지 표시 */
}

.notice{
    align-self: flex-start;
    margin-top: -1rem;
    display: inline-block;
    line-height: 1.4em;
    position: absolute;
    bottom: 1rem;
    left: 7rem;
}
.notice:before{
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% auto;
}
.notice.available:before{
    background: url(/src/resources/images/productRegister/iconCheck.svg);
}
.notice.duplicate:before{
    background: url(/src/resources/images/productRegister/iconX.svg);
}

.modal{
    width: 60%;
    max-width: 60rem;
    height: 40rem;
    padding: 6rem 4rem;
    background-color: #fff;
    border-radius: 2.4rem;
    position: absolute;
    top: 50%; 
    left: calc(50% + 13rem); /*13rem -> sidebar너비 26rem / 2 */
    transform: translate(-50%, -50%);
    z-index: 2000;
}
.modalInner{
    padding-top: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    text-align: center; 
}
.modalTitle{
    text-align: center;
}
.modalContents{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.inputGroup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-inline: 4rem;
}

.modal input:focus::placeholder {
    color: transparent;
}
.modal input::placeholder{
    transition: all 0.3s;
}
.modal input, .modal select{
    width: 60%;
    height: 5rem;
}
.year{
    margin-right: 1rem;
    /* max-width: 30rem; */
}
.seasonType{
    width: 10rem;
    max-width: 10rem;
}


@media (max-width: 1024px){
    .modal{
        left: 50%;
        padding: 4rem;
    }
}
@media (max-width: 768px){
    .modal{
        width: 100%;
        max-width: 100vw;
        height: 100vh;
        padding-block: 10rem;
        /* padding: 6rem 4rem;
        background-color: #fff; */
        border-radius: 0;
        /* position: absolute; */
        /* top: 50%;  */
        /* transform: translate(-50%, -50%); */
        /* z-index: 2000; */
    }
}
