/* 등록 폼 */
.registerForm{
    color: var(--secondary-color);
}
.productInfo, .stockInfo, .codeInfo{
    padding: 2rem 4rem;
    border: none;
}
.productInfo, .stockInfo{
    border-bottom: 1px solid rgba(226, 232, 240, 0.6);
}
.label{
    font-size: 1.8rem;
    font-weight: 500;
    flex-shrink: 0;
    display: inline-block;
    width: 12rem;
}
.required{
    position: relative;
}
.required::before{
    content: "*";
    color: var(--red-cf);
    display: inline-block;
    position: absolute;
    top: 0;
    left: -1rem;
}
.row{
    display: flex;
    margin-bottom: 3.5rem;
    flex-wrap: nowrap;
}
.col{
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}
.col.right{
    justify-content: flex-end;
}
.registerForm input, .registerForm select{
    height: 4.5rem;
}

.registerForm input:read-only {
    background: var(--gray-e2);        
    color: #a0aec0;              
    border-color: var(--gray-cb);
    cursor: not-allowed;
    opacity: 0.8;
}

.registerForm input, .registerForm select{
    width: 60%;
    max-width: 25rem;
}

.registerForm input:focus::placeholder {
    color: transparent;
}
.registerForm input::placeholder{
    transition: all 0.3s;
}
.registerForm option{
    padding: 1rem;
}

.unit{
    display: inline-block;
    width: 100%;
    font-size: 1.3rem;
}

.formBtnWrap{
    text-align: center;
    margin-top: 1.5rem;
}

.numberWrapper {
    position: relative;
    flex: 1;
    width: 60%;          /* 기존 input에 있던 너비 설정 */
    max-width: 25rem;    /* 기존 input에 있던 최대 너비 설정 */
}
.numberWrapper input{
    width: 100%;
    max-width: none;
}
.errorMsg, .guide{
    position: absolute;
    font-size: 1.3rem;
    line-height: 2em;
}
.errorMsg{
    color: var(--red-ff);
    left: 0;
}

.guide{
    text-wrap: nowrap;
    right: 1rem;
    bottom: 0;
    transform: translateY(100%);
    color: var(--gray-64);
}

.guide span{
    display: block;
}


@media (max-width: 1024px){ 
    .productInfo, .stockInfo, .codeInfo{
        padding: 2rem;
    }
    .label{
        font-size: 1.6rem;
        width: 10rem;
    }
    .row{
        flex-direction: column;
        margin-bottom: 0;

        align-items: center;
    }
    .col{
        margin-bottom: 4rem;
        width: 100%;        
        max-width: 50rem;  
        justify-content: flex-start; 
    }
    .col:last-child{
        justify-content: flex-start;
    }
    .numberWrapper{
        width: 100%;
        max-width: none;
    }
    .registerForm input, .registerForm select{
        height: 5rem;
        font-size: 1.5rem;

        width: 100%;        
        flex: 1;           
        max-width: none;   
    }
}
@media (max-width: 480px){
    .productInfo, .stockInfo, .codeInfo{
        padding: 0;
        padding-top: 2rem;
    }
    .label{
        font-size: 1.5rem;
        width: 9rem;
    }
}
