/* 창고 관리 페이지 */
.contentArea{
    width: 100%;
    padding-inline: 0.5rem;

}
.contentWidth{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 4rem;
    position: relative;
}
.mainContentWrap{
    padding: 3rem;
    border-radius: 1.5rem;
    width: 100%;
    position: relative;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 120rem;
    margin-inline: auto;
}

.contentTitle{
    font-size: 1.8rem;
    color: var(--gray-64);
    margin-bottom: 3rem;
}

.storage input, .storage select{
    height: 5rem;
}

/* 좌측 메뉴 선택 */
.menuArea{
    position: sticky;
    top: 0;
}
.menuBox{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
    background-color: #fff;
    padding: 3rem;
}

.menuList li{
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3em;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--gray-f1);
    margin-block: 2rem;
    transition: 0.3s;
    cursor: pointer;
    border: 3px solid transparent;
}

.menuList li.selected{
    background-color: #fff;
    border: 3px solid var(--primary-color);
}
.menu{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.menu::before{
    content: "";
    width: 3rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem auto;
}
.menuRegister::before{
    background-image: url(/src/resources/images/storage/iconPlus.svg);
    background-size: 2.5rem auto;
}
.menuModify::before{
    background-image: url(/src/resources/images/storage/iconSetting.svg);
}
.menuViewList::before{
    background-image: url(/src/resources/images/storage/iconSearch.svg);
}
.contentRow{
    display: flex;
    align-items: center;
    padding: 4rem;
    gap: 3rem;
    border-top: 1px solid var(--gray-e2);
}

/* 창고 조회 */
.listTopWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.notice{
    color: var(--gray-64);
}

.listFilter{
    width: 15rem;
}

.storageTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: center;
}

.storageTable tbody tr{
    cursor: pointer;
    transition: 0.3s;
}

.storageTable tbody tr:hover{
    background-color: rgb(37, 99, 235, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.storageTable td, .storageTable th {
    padding: 1.5rem 1.2rem;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

.storageTable th{
    border-width: 2px;
}

/* 창고 모달*/
.rackHeading{
    text-align: left;
    margin-inline: 2rem;
    padding: 1rem 3rem;
    border-bottom: 1px solid var(--gray-cb);
    background: url(/src/resources/images/storage/iconLoc.svg) no-repeat left center / 2rem auto;
}
.rackHeading span{
    font-size: 1.5rem;
}
.storageModal{
    max-width: 90rem;
    height: auto;
}
.storageModal select{
    height: 4rem;
    width: 90%;
    min-width: 7rem;
    cursor: pointer;
}
.modalTableArea{
    max-height: 30rem;
    overflow-y: scroll;
}
.storageModal tbody tr:hover{
    box-shadow: none;
    background-color: transparent;
}

/* 창고 등록 */
.storageNameWrap{
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
}
.storageName{
    width: 40%;
}
.storageGuide{
    font-size: 1.4rem;
    color: var(--gray-64);
    position: absolute;
    left: 0;
    bottom: -5rem;
}
.registerRow{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.zoneRackBox{
    width: 100%;
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
    position: relative;
}
.zoneRackBox > div{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}
.zoneRackBox div{
    width: 100%;
}
.zoneRackBox input{
    width: 100%;
}
.errorMsg{
    bottom: -3rem;
}
.btnPlus, .btnRemove{
    display: block;
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.3s;
}
.btnPlus{
    background: #fff url(/src/resources/images/storage/iconPlus.svg) no-repeat center / 70% auto;
    margin-top: 3rem;
    border: 3px solid var(--primary-color);
    margin-inline: auto;
}
.btnPlus:hover{
    box-shadow: 0 1rem 2rem rgba(37, 100, 235, 0.3);
}
.btnRemove{
    position: absolute;
    top: 50%;
    right: -5rem;
    transform: translateY(-50%) scale(0.8);
    background: var(--gray-e2) url(/src/resources/images/storage/iconDash.svg) no-repeat center / 50% auto;
}
.btnRemove:hover{
    background: var(--gray-cb) url(/src/resources/images/storage/iconDash.svg) no-repeat center / 50% auto;
}

/* 창고 수정 */

.contentType{
    text-align: center;
    padding-bottom: 2rem;
}
.typeBtn{
    width: 20%;
    min-width: 10rem;
    height: 4rem;
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--gray-47);
    margin-inline: 1.5rem;
    background-color: var(--gray-e2);
}

.typeBtn.active{
    background-color: var(--primary-color);
    color: #fff;
}

.modifyHeading{
    background-color: rgba(37, 100, 235, 0.2);
    border-radius: 50px;
    font-size: 1.8rem;
    width: 10rem;
    padding-block: 0.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.storageBtnWrap{
    flex: 1;
    /* grid->flex로 변경 */
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--gray-e2);
    border-radius: 10px;

    flex-wrap: wrap;
}

.storageBtnWrap > div{
    flex: 1 1 5rem;
}

.btnStorage{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--gray-47);
    width: 100%;
    padding-block: 0.5em;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btnStorage.selected{
    background-color: #fff;
    color: var(--primary-color);
}

.modifyRadio{
    display: none;
}

.contentRow:first-child{
    border: none;
}

.contentRow.row3{
    border-top: none;
    padding-top: 0;

}

.updateForm .contentRow.row3{
    align-items: flex-start;
}

.rackArea{
    flex: 1;
}

.selectWrap{
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.selectWrap > select{
    width: 100%;
    min-width: 15rem;
}

.statusSelectWrap{
    padding-block: 2rem;
    display: flex;
    gap: 2rem;
}

.modifyZoneSelect{
    width: 100%;
    min-width: 15rem;
}

.btnSubmitWrap{
    text-align: center;
}
.btnModify{
    display: block;
    margin-block: 3rem 1.5rem;
    margin-inline: auto;
}

.addForm .row2{
    flex-direction: column;
    align-items: flex-start;
}

.addForm .addItem{
    margin-top: 2rem;
}

.delete, .add{
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    border-radius: 100px;
}
.delete{
    background-color: var(--red-ff);
    text-wrap: nowrap;
    width: 8rem;
}

.addRackArea, .addZoneArea{
    width: 100%;
    height: auto;
    position: relative;
}
.informRackCount, .informZoneCount{
    position: absolute;
    width: 100%;
    top: -2.5rem;
    left: 0;
    text-align: right;
    font-size: 1.3rem;
    color: var(--gray-64);
}

.add{
    background-color: var(--primary-color);
}

.delete input[type="checkbox"], 
.add input[type="checkbox"]{
    width: 1.5rem;
    height: auto;
    aspect-ratio: 1;
    margin-right: 1rem;
    border-color: var(--red-cf);
}

.disableButton{
    min-width: 6rem;
    max-width: 8rem;
    height: 3rem;
    text-wrap: nowrap;
    border-radius: 3rem;
    background-color: var(--gray-cb);
    border: 1px solid var(--gray-e2);
    position: relative;
    cursor: pointer;
}

.disableButton::after{
    content: "";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--gray-f1);
    margin-inline: 0.2rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.3s;
}

.disableButton.disable{
    background-color: var(--primary-color);
}

.disableButton.disable::after{
    left: 100%;
    transform: translate(-120%, -50%);
}

.disableText{
    font-size: 1.3rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    text-align: center;
    width: 100%;
}

.disableButton input{
    display: none;
}

.row4{
    position: relative;
    padding-top: 10rem;
}

.addContents{
    display: flex;
    gap: 3rem;
    width: 100%;
}

.addItem{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.errorMsg{
    color: var(--red-cf);
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    text-align: right;
}

.brMo{
    display: none;
}

/* 태블릿 세로 */
@media (max-width: 1024px){ 
    /* 레이아웃 */
    .contentWidth{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        row-gap: 2rem;
        column-gap: 0;
        margin-block: 4rem;
    }

    .menuArea{
        position: static;
        height: auto;
    }
    .menuList{
        display: flex;
        gap: 2rem;
    }
    .menuList li{
        margin-block: 0;
        flex: 1;
    }
}

/* 모바일 세로, 가로 */
@media (max-width: 768px){
    /* 레이아웃 */
    .menuList{
        display: block;
    }
    .menu:not(:last-child){
        margin-bottom: 1.5rem;
    }
    .contentRow{
        padding-inline: 2rem;
    }
    .zoneRackBox{
        flex-direction: column;
        gap: 2rem;
        padding-block: 4rem;
        margin-bottom: 0;
        position: relative;
        border-top: 1px solid var(--gray-e2);
    }
    .zoneRackBox:first-child{
        border: none;
        padding-top: 0;
    }
    .zoneRackBox > div{
        width: 90%;
    }
    .btnRemove{
        right: 0;
    }

     .contentRow{
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
    .storageBtnWrap{
        width: 100%;
    }
    .rackArea{
        width: 100%;
    }
    .selectWrap{
        width: 100%;
    }
    .deleteForm .row1 .delete{
        align-self: flex-end;
    }

    .addContents{
        flex-direction: column;
        gap: 1.5rem;
    }

    .updateForm .row1{
        padding-bottom: 0;
    }
}

@media (max-width: 580px){
    /* 창고 조회 */
    .listTopWrap{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

}

@media (max-width: 480px){
    .menuBox, .mainContentWrap{
        padding: 1.5rem;
    }
    .modifyHeading{
        width: 8rem;
        font-size: 1.6rem;
    }
    .typeBtn:first-child, .typeBtn:last-child{
        margin-inline: 0;
    }
    .typeBtn{
        margin-inline: 1rem;
    }
    .contentRow{
        padding-inline: 0;
    }
    .storageName{
        width: 80%;
    }
    .storageGuide{
        position: static;
        display: block;
        padding-top: 1rem;
    }
    .brMo{
        display: block;
    }
    .btnRemove{
        right: -1rem;
    }
   
}